# Python Compiled Files
*.pyc
__pycache__
_pycache_

# Virtual Environment
venv

# VS Code specific files
*.code-workspace
.vscode

# Testing cache
.pytest_cache
*_cache

# Output Files
output

# Data files
*.csv
*.txt

# Temp Files
*~

# Personal Script Files
*.sh

# Jupyter Lab checkpoints
.ipynb_checkpoints

# PyCharm Files
.idea
