# Python Compiled Files
*.pyc
__pycache__

# Virtual Environment
venv

# VS Code specific files
*.code-workspace
.vscode

# Testing cache
.pytest_cache
*_cache

# Output Files
output

# Data files
*.csv
*.txt

# Temp Files
*~